.mat-card{
  width: fit-content;
  text-align: center;
}

.mat-spinner {
  position: relative;
  margin-left: 40%;
  margin-top: 5%;
}

.center-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}
