<p>
  <mat-toolbar color="primary">
    <span>Layout Homework 2020</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
<div class="center-pos">
  <mat-card class="mat-card">
    <mat-card-title>Please fill out this form. <br><br> It is for science.</mat-card-title>
    <br>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Your name</mat-label>
        <input matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Your birthplace</mat-label>
        <input matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Your mood</mat-label>
        <mat-select>
          <mat-option value="option">Happy</mat-option>
          <mat-option value="option">Not bad</mat-option>
          <mat-option value="option">Just OK</mat-option>
          <mat-option value="option">Hungry</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Your favourite colour</mat-label>
        <mat-select>
          <mat-option value="option">Primary</mat-option>
          <mat-option value="option">Accent</mat-option>
          <mat-option value="option">Warn</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Your favourite season</mat-label>
        <mat-select>
          <mat-option value="option">Summer</mat-option>
          <mat-option value="option">Autumn</mat-option>
          <mat-option value="option">Winter</mat-option>
          <mat-option value="option">Spring</mat-option>
          <mat-option value="option">From which show?</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit Your Answers</button>
      <mat-spinner class="mat-spinner" *ngIf="showSpinner" diameter="50" color="accent"></mat-spinner>
    </mat-card-actions>
  </mat-card>
</div>
